{% extends 'base.html.twig' %}

{% block title %}Presence index{% endblock %}

{% block body %}
    <h1>Presence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_p</th>
                <th>Date</th>
                <th>PresenceState</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presence in presences %}
            <tr>
                <td>{{ presence.idP }}</td>
                <td>{{ presence.date ? presence.date|date('Y-m-d') : '' }}</td>
                <td>{{ presence.presenceState }}</td>
                <td>
                    <a href="{{ path('app_presence_show', {'id_p': presence.id_p}) }}">show</a>
                    <a href="{{ path('app_presence_edit', {'id_p': presence.id_p}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_presence_new') }}">Create new</a>
{% endblock %}
