{% extends 'base.html.twig' %}

{% block title %}PlanteStock détails{% endblock %}

{% block body %}
    <h1>PlanteStock détails</h1>

    <table class="table" , border=1>
        <tbody>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset(plante_stock.image) }}" width="500" height="600"></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ plante_stock.id }}</td>
            </tr>
            <tr>
                <th>NomPlante</th>
                <td>{{ plante_stock.nomPlante }}</td>
            </tr>
            <tr>
                <th>EtatPlante</th>
                <td>{{ plante_stock.etatPlante }}</td>
            </tr>
            <tr>
                <th>QuantitéPlante en Kg</th>
                <td>{{ plante_stock.quantitePlante }}</td>
            </tr>
            <tr>
                <th>Health</th>
                <td>{{ plante_stock.health }}</td>
            </tr>
            <tr>
                <th>DateEntreeStock</th>
                <td>{{ plante_stock.dateEntreeStock ? plante_stock.dateEntreeStock|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ plante_stock.prix }}</td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('app_vente_new') }}">Vendre cette plante</a>
        <a href="{{ path('app_plante_stock_index') }}">Retour</a>
        <a href="{{ path('app_plante_stock_edit', {'id': plante_stock.id}) }}">Modifier</a>

    {{ include('plante_stock/_delete_form.html.twig') }}
{% endblock %}
