{% extends 'AnimalManagement.html.twig' %}

{% block section %}{% endblock %}
{% block title %}Ration index{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block gestation %}{% endblock %}


{% block body %}
    <h1>Ration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Espece</th>
                <th>Statut</th>
                <th>Sexe</th>
                <th>Poids Minimal</th>
                <th>Poids Maximal</th>
                <th>Bute Production</th>
                <th>show</th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
        {% for ration in rations %}
            <tr>
                <td>{{ ration.especeRation }}</td>
                <td>{{ ration.statutRation }}</td>
                <td>{{ ration.sexeRation }}</td>
                <td>{{ ration.poidsMinRation }}</td>
                <td>{{ ration.poidsMaxRation }}</td>
                <td>{{ ration.buteProductionRation }}</td>
                <td>
                    <a href="{{ path('app_ration_show', {'id': ration.id}) }}">show</a>
                    </td>
                    <td>
                    <a href="{{ path('app_ration_edit', {'id': ration.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ration_new') }}" class="btn alazea-btn active">Create new</a>
{% endblock %}
