{% extends 'AnimalManagement.html.twig' %}

{% block title %}Ration{% endblock %}
{% block section %}{% endblock %}
{% block title %}Ration index{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block body %}
    <h1>Ration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>EspeceRation</th>
                <td>{{ ration.especeRation }}</td>
            </tr>
            <tr>
                <th>StatutRation</th>
                <td>{{ ration.statutRation }}</td>
            </tr>
            <tr>
                <th>SexeRation</th>
                <td>{{ ration.sexeRation }}</td>
            </tr>
            <tr>
                <th>PoidsMinRation</th>
                <td>{{ ration.poidsMinRation }}</td>
            </tr>
            <tr>
                <th>PoidsMaxRation</th>
                <td>{{ ration.poidsMaxRation }}</td>
            </tr>
            <tr>
                <th>ButeProductionRation</th>
                <td>{{ ration.buteProductionRation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ration_index') }}" class="btn alazea-btn active">back to list</a>

    <a href="{{ path('app_ration_edit', {'id': ration.id}) }}" class="btn alazea-btn active">edit</a>

    {{ include('ration/_delete_form.html.twig') }}
{% endblock %}
