{% extends 'AnimalManagement.html.twig' %}

{% block title %}Ingredient index{% endblock %}
{% block section %}{% endblock %}
{% block animal %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block gestation %}{% endblock %}

{% block body %}
    <h1>Ingredient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Cost</th>
                <th>Loaded By</th>
                <th>Description</th>
                <th>Type</th>
                <th>Nutriment Principal</th>
                <th>show</th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.nameIngredient }}</td>
                <td>{{ ingredient.itemQuantityIngredient }}</td>
                <td>{{ ingredient.unitIngredient }}</td>
                <td>{{ ingredient.costIngredient }}</td>
                <td>{{ ingredient.loadedByIngredient }}</td>
                <td>{{ ingredient.descriptionIngredient }}</td>
                <td>{{ ingredient.typeIngredient }}</td>
                <td>{{ ingredient.nutrimentPrincipalIngredient ? ingredient.nutrimentPrincipalIngredient|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_ingredient_show', {'id': ingredient.id}) }}">show</a>
                    </td>
                    <td>
                    <a href="{{ path('app_ingredient_edit', {'id': ingredient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ingredient_new') }}" class="btn alazea-btn active">Create new</a>
{% endblock %}
