<!-- pdf_template.html.twig -->
<h1> AnimalStock</h1>
{% block stylesheets %}
    <style>
        /* Add custom styles for AnimalStock index page */
         <style>
        /* Add custom styles for AnimalStock index page */
        body {
            font-family: 'Open Sans', sans-serif;
            background-color: #F2F2F2;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            color: #2E5D42;
        }

        .table-container {
            width: 80%;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #2E5D42;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #2E5D42;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #fff;
        }

        tr:nth-child(odd) {
            background-color: #F2F2F2;
        }

        a {
            color: #2E5D42;
            text-decoration: none;
            margin-right: 10px;
        }

        a:hover {
            color: #F2F0D5;
        }
    </style>
{% endblock %}

<table class="table" ,border=1>
    <thead>
        <tr>
            <th>Id</th>
            <th>NomAnimal</th>
            <th>SexeAnimal</th>
            <th>AgeAnimal</th>
            <th>PoidsAnimal</th>
            <th>Health</th>
            <th>DateEntreeStock</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
    {% for animal_stock in animal_stocks %}
        <tr>
            <td>{{ animal_stock.id }}</td>
            <td>{{ animal_stock.nomAnimal }}</td>
            <td>{{ animal_stock.sexeAnimal }}</td>
            <td>{{ animal_stock.ageAnimal }}</td>
            <td>{{ animal_stock.poidsAnimal }}</td>
            <td>{{ animal_stock.health }}</td>
            <td>{{ animal_stock.dateEntreeStock ? animal_stock.dateEntreeStock|date('Y-m-d') : '' }}</td>
            <td>{{ animal_stock.prix }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">Aucun Animal stocké</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
