{% extends 'base.html.twig' %}

{% block title %}Animal détails{% endblock %}

{% block body %}
    <h1>Animal détails</h1>

    <table class="table" , border=1>
        <tbody>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset(animal_stock.image) }}" width="500" height="600"></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ animal_stock.id }}</td>
            </tr>
            <tr>
                <th>NomAnimal</th>
                <td>{{ animal_stock.nomAnimal }}</td>
            </tr>
            <tr>
                <th>SexeAnimal</th>
                <td>{{ animal_stock.sexeAnimal }}</td>
            </tr>
            <tr>
                <th>AgeAnimal</th>
                <td>{{ animal_stock.ageAnimal }}</td>
            </tr>
            <tr>
                <th>PoidsAnimal en Kg</th>
                <td>{{ animal_stock.poidsAnimal }}</td>
            </tr>
            <tr>
                <th>Health</th>
                <td>{{ animal_stock.health }}</td>
            </tr>
            <tr>
                <th>DateEntreeStock</th>
                <td>{{ animal_stock.dateEntreeStock ? animal_stock.dateEntreeStock|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ animal_stock.prix }}</td>
            </tr>
        </tbody>
    </table>

        <a href="{{  path('app_vente_new') }}">Vendre cet animal</a>
        <a href="{{ path('app_animal_stock_index') }}">Retour</a>
        <a href="{{ path('app_animal_stock_edit', {'id': animal_stock.id}) }}">Modifier</a>

    {{ include('animal_stock/_delete_form.html.twig') }}
{% endblock %}
