{# animal/_form.html.twig #}

    {{ form_start(form,{"attr":{'novalidate':"novalidate"}}) }}

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.especeAnimalBatch, { 'attr': {'class': 'form-control', 'placeholder': 'Espèce de l\'animal'} }) }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.sexeRation, { 'attr': {'class': 'form-control', 'placeholder': 'Sexe de l\'animal'} }) }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.poidsmaxRation, { 'attr': {'class': 'form-control', 'placeholder': 'Poids maximum de l\'animal'} }) }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.poidsminRation, { 'attr': {'class': 'form-control', 'placeholder': 'Poids minimum de l\'animal'} }) }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.ageAnimalBatch, { 'attr': {'class': 'form-control', 'placeholder': 'Âge de l\'animal'} }) }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.nombreAnimalBatch, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre de l\'animal dans le lot'} }) }}
            </div>
        </div>
        <!-- Add more form fields as needed -->

        <div class="col-12">
            <button class="btn alazea-btn mt-15">{{ button_label|default('update') }}</button>
        </div>
    </div>

    {{ form_end(form) }}
</form>
