{% extends 'AnimalManagement.html.twig' %}

{% block title %}AnimalBatch index{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block gestation %}{% endblock %}

{% block body %}
    <h1>Lot d'animaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Espece</th>
                <th>Sexe</th>
                <th>Poids maximal</th>
                <th>Poids minimal</th>
                <th>Age</th>
                <th>Nombre</th> 
                <th>show</th>
                <th>edit</th>
            
            </tr>
        </thead>
        <tbody>
        {% for animal_batch in animal_batches %}
            <tr>
                <td>{{ animal_batch.especeAnimalBatch }}</td>
                <td>{{ animal_batch.sexeRation }}</td>
                <td>{{ animal_batch.poidsmaxRation }}</td>
                <td>{{ animal_batch.poidsminRation }}</td>
                <td>{{ animal_batch.ageAnimalBatch }}</td>
                <td>{{ animal_batch.nombreAnimalBatch }}</td>
                <td>
                    <a href="{{ path('app_animal_batch_show', {'id': animal_batch.id}) }}">show</a>
                    </td>
                    <td>
                    <a href="{{ path('app_animal_batch_edit', {'id': animal_batch.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_animal_batch_new') }}" class="btn alazea-btn active">Create new</a>
{% endblock %}
