{% extends 'base.html.twig' %}

{% block title %}AnimalBatch index{% endblock %}

{% block body %}
    <h1>AnimalBatch index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EspeceAnimalBatch</th>
                <th>SexeRation</th>
                <th>PoidsmaxRation</th>
                <th>PoidsminRation</th>
                <th>AgeAnimalBatch</th>
                <th>NombreAnimalBatch</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal_batch in animal_batches %}
            <tr>
                <td>{{ animal_batch.id }}</td>
                <td>{{ animal_batch.especeAnimalBatch }}</td>
                <td>{{ animal_batch.sexeRation }}</td>
                <td>{{ animal_batch.poidsmaxRation }}</td>
                <td>{{ animal_batch.poidsminRation }}</td>
                <td>{{ animal_batch.ageAnimalBatch }}</td>
                <td>{{ animal_batch.nombreAnimalBatch }}</td>
                <td>
                    <a href="{{ path('app_animal_batch_show', {'id': animal_batch.id}) }}">show</a>
                    <a href="{{ path('app_animal_batch_edit', {'id': animal_batch.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_animal_batch_new') }}">Create new</a>
{% endblock %}
