{% extends 'base.html.twig' %}

{% block title %}AnimalBatch{% endblock %}

{% block body %}
    <h1>AnimalBatch</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal_batch.id }}</td>
            </tr>
            <tr>
                <th>EspeceAnimalBatch</th>
                <td>{{ animal_batch.especeAnimalBatch }}</td>
            </tr>
            <tr>
                <th>SexeRation</th>
                <td>{{ animal_batch.sexeRation }}</td>
            </tr>
            <tr>
                <th>PoidsmaxRation</th>
                <td>{{ animal_batch.poidsmaxRation }}</td>
            </tr>
            <tr>
                <th>PoidsminRation</th>
                <td>{{ animal_batch.poidsminRation }}</td>
            </tr>
            <tr>
                <th>AgeAnimalBatch</th>
                <td>{{ animal_batch.ageAnimalBatch }}</td>
            </tr>
            <tr>
                <th>NombreAnimalBatch</th>
                <td>{{ animal_batch.nombreAnimalBatch }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_animal_batch_index') }}">back to list</a>

    <a href="{{ path('app_animal_batch_edit', {'id': animal_batch.id}) }}">edit</a>

    {{ include('animal_batch/_delete_form.html.twig') }}
{% endblock %}
