{# animal/_form.html.twig #}
{{ form_start(form,{"attr":{'novalidate':"novalidate"}}) }}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.espece, { 'attr': {'class': 'form-control', 'placeholder': 'Animal Espece'} }) }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.sexe, { 'attr': {'class': 'form-control', 'placeholder': 'Animal Sexe'} }) }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.poids, { 'attr': {'class': 'form-control', 'placeholder': 'Animal Poids'} }) }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.age, { 'attr': {'class': 'form-control', 'placeholder': 'Animal Age'} }) }}
            </div>
        </div>
         <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.animalbatch, { 'attr': {'class': 'form-control', 'placeholder': 'Animal Age'} }) }}
            </div>
        </div>
         <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.nutritionalNeeds, { 'attr': {'class': 'form-control', 'placeholder': 'Animal Age'} }) }}
            </div>
        </div>
         <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.ration, { 'attr': {'class': 'form-control', 'placeholder': 'Animal Age'} }) }}
            </div>
        </div>
         <div class="col-12 col-md-6">
            <div class="form-group">
                {{ form_row(form.gestation, { 'attr': {'class': 'form-control', 'placeholder': 'Animal Age'} }) }}
            </div>
        </div>
        

        <div class="col-12">
            <button class="btn alazea-btn mt-15">{{ button_label|default('Update Animal') }}</button>
        </div>

        
    </div>
{{ form_end(form) }}
