{% extends 'AnimalManagement.html.twig' %}

{% block title %}Animal index{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block gestation %}{% endblock %}

{% block body %}
    <h1>Animal index</h1>
   
    <table class="table">
        <thead>
            <tr>
                <th>Espece</th>
                <th>Sexe</th>
                <th>Poids</th>
                <th>Age</th>
                <th>show</th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.espece }}</td>
                <td>{{ animal.sexe }}</td>
                <td>{{ animal.poids }}</td>
                <td>{{ animal.age }}</td>
                <td>
                    <a href="{{ path('app_animal_show', {'id': animal.id}) }}">show</a>
                    </td>
                    <td>
                    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_animal_new') }}" class="btn alazea-btn active">Create new</a>
{% endblock %}
