{% extends 'AnimalManagement.html.twig' %}

{% block title %}Animal{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block gestation %}{% endblock %}

{% block body %}
    <h1>Animal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Espece</th>
                <td>{{ animal.espece }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ animal.sexe }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ animal.poids }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ animal.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_animal_index') }}" class="btn alazea-btn active">back to list</a>

    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}" class="btn alazea-btn active">edit</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
