{% extends 'AnimalManagement.html.twig' %}

{% block title %}NutritionalValue{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block body %}
    <h1>NutritionalValue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Pb</th>
                <td>{{ nutritional_value.pb }}</td>
            </tr>
            <tr>
                <th>Fb</th>
                <td>{{ nutritional_value.fb }}</td>
            </tr>
            <tr>
                <th>Adf</th>
                <td>{{ nutritional_value.adf }}</td>
            </tr>
            <tr>
                <th>Ndf</th>
                <td>{{ nutritional_value.ndf }}</td>
            </tr>
            <tr>
                <th>Ms</th>
                <td>{{ nutritional_value.ms }}</td>
            </tr>
            <tr>
                <th>Eb</th>
                <td>{{ nutritional_value.eb }}</td>
            </tr>
            <tr>
                <th>Ca</th>
                <td>{{ nutritional_value.ca }}</td>
            </tr>
            <tr>
                <th>P</th>
                <td>{{ nutritional_value.p }}</td>
            </tr>
            <tr>
                <th>Mg</th>
                <td>{{ nutritional_value.mg }}</td>
            </tr>
            <tr>
                <th>K</th>
                <td>{{ nutritional_value.k }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nutritional_value_index') }}" class="btn alazea-btn active">back to list</a>

    <a href="{{ path('app_nutritional_value_edit', {'id': nutritional_value.id}) }}" class="btn alazea-btn active">edit</a>

    {{ include('nutritional_value/_delete_form.html.twig') }}
{% endblock %}
