{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        h1 {
            color: #1D741B;
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
            font-size: 14px;
        }

        th {
            background-color: #88CA5E;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        tr:nth-child(even) {
            background-color: #F4F7F0;
        }

        a {
            color: #2E5D42;
            text-decoration: none;
            margin-right: 10px;
            transition: color 0.3s ease-in-out;
        }

        a:hover {
            color: #22C738;
            text-decoration: underline;
        }

        .no-records {
            color: #757575;
            font-style: italic;
        }

        .button {
            text-align: center;
            margin-top: 20px;

        }

        .create-new {
            display: inline-block;
            padding: 12px 20px;
            background-color: #1D741B;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s ease-in-out;
        }

        .create-new:hover {
            background-color: #22C738;
            color: #000;

        }
    </style>
{% endblock %}

{% block title %}TypedeReclamation index{% endblock %}

{% block body %}
    <h1>TypedeReclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typede_reclamation in typede_reclamations %}
            <tr>
                <td>{{ typede_reclamation.id }}</td>
                <td>{{ typede_reclamation.type }}</td>
                <td>{{ typede_reclamation.description }}</td>
                <td>
                    <a href="{{ path('app_typede_reclamation_show', {'id': typede_reclamation.id}) }}">show</a>
                    <a href="{{ path('app_typede_reclamation_edit', {'id': typede_reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="button">
    <a href="{{ path('app_typede_reclamation_new') }}" class="create-new">Create new</a>
</div>
{% endblock %}
