{% extends 'base.html.twig' %}

{% block title %}Create new Materiel{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/Back/JS/script.js') }}"></script>
{% endblock %}

{% block body %}

    {{ include('materiel/header.html.twig') }}

    <div style="background: url(https://img.freepik.com/free-photo/sunset-rural-farm-growth-abounds-generated-by-ai_24640-80532.jpg?w=826&t=st=1700163182~exp=1700163782~hmac=fb8f477aa52dca8055d3df54be5e33582c93788a8595e75d075e360ce9e6ffca)" class="main-container ">

        <div class="form-container">
            <p>Ajout d'un matériel</p>

            <form method="post" action="{{ path('app_materiel_new') }}" class="materiel-form">
                {{ include('materiel/_form.html.twig', {'button_label': 'Submit'}) }}
            </form>

            <a href="{{ path('app_materiel_index') }}" class="back-link">Back to List</a>

        </div>
    </div>
    </div>


    {{ include('materiel/footer.html.twig') }}




    </html>
{% endblock %}

