{% extends 'AnimalManagement.html.twig' %}

{% block title %}NutritionalValueNeeds index{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block gestation %}{% endblock %}

{% block ration %}{% endblock %}
{% block body %}
    <h1>NutritionalValueNeeds index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Pb</th>
                <th>Fb</th>
                <th>Adf</th>
                <th>Ndf</th>
                <th>Ms</th>
                <th>Eb</th>
                <th>Ca</th>
                <th>P</th>
                <th>Mg</th>
                <th>K</th>
                <th>show</th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
        {% for nutritional_value_need in nutritional_value_needs %}
            <tr>
                <td>{{ nutritional_value_need.pb }}</td>
                <td>{{ nutritional_value_need.fb }}</td>
                <td>{{ nutritional_value_need.adf }}</td>
                <td>{{ nutritional_value_need.ndf }}</td>
                <td>{{ nutritional_value_need.ms }}</td>
                <td>{{ nutritional_value_need.eb }}</td>
                <td>{{ nutritional_value_need.ca }}</td>
                <td>{{ nutritional_value_need.p }}</td>
                <td>{{ nutritional_value_need.mg }}</td>
                <td>{{ nutritional_value_need.k }}</td>
                <td>
                    <a href="{{ path('app_nutritional_value_needs_show', {'id': nutritional_value_need.id}) }}">show</a>
                    </td>
                    <td>
                    <a href="{{ path('app_nutritional_value_needs_edit', {'id': nutritional_value_need.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nutritional_value_needs_new') }}" class="btn alazea-btn active">Create new</a>
{% endblock %}
