{% extends 'AnimalManagement.html.twig' %}

{% block title %}NutritionalValueNeeds{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block body %}
    <h1>NutritionalValueNeeds</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Pb</th>
                <td>{{ nutritional_value_need.pb }}</td>
            </tr>
            <tr>
                <th>Fb</th>
                <td>{{ nutritional_value_need.fb }}</td>
            </tr>
            <tr>
                <th>Adf</th>
                <td>{{ nutritional_value_need.adf }}</td>
            </tr>
            <tr>
                <th>Ndf</th>
                <td>{{ nutritional_value_need.ndf }}</td>
            </tr>
            <tr>
                <th>Ms</th>
                <td>{{ nutritional_value_need.ms }}</td>
            </tr>
            <tr>
                <th>Eb</th>
                <td>{{ nutritional_value_need.eb }}</td>
            </tr>
            <tr>
                <th>Ca</th>
                <td>{{ nutritional_value_need.ca }}</td>
            </tr>
            <tr>
                <th>P</th>
                <td>{{ nutritional_value_need.p }}</td>
            </tr>
            <tr>
                <th>Mg</th>
                <td>{{ nutritional_value_need.mg }}</td>
            </tr>
            <tr>
                <th>K</th>
                <td>{{ nutritional_value_need.k }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nutritional_value_needs_index') }}" class="btn alazea-btn active">back to list</a>

    <a href="{{ path('app_nutritional_value_needs_edit', {'id': nutritional_value_need.id}) }}" class="btn alazea-btn active">edit</a>

    {{ include('nutritional_value_needs/_delete_form.html.twig') }}
{% endblock %}
