{% extends 'AnimalManagement.html.twig' %}

{% block title %}NutritionalNeeds index{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block ration %}{% endblock %}
{% block body %}
    <h1>NutritionalNeeds index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Species</th>
                <th>Production Status</th>
                <th>Sex</th>
                <th>Minimum Weight</th>
                <th>Maximum Weight</th>
                <th>Production Goal</th>
                <th>show</th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
        {% for nutritional_need in nutritional_needs %}
            <tr>
                <td>{{ nutritional_need.speciesNeeds }}</td>
                <td>{{ nutritional_need.productionStatusNeeds }}</td>
                <td>{{ nutritional_need.sexNeeds }}</td>
                <td>{{ nutritional_need.minimumWeightNeeds }}</td>
                <td>{{ nutritional_need.maximumWeightNeeds }}</td>
                <td>{{ nutritional_need.productionGoalNeeds }}</td>
                <td>
                    <a href="{{ path('app_nutritional_needs_show', {'id': nutritional_need.id}) }}">show</a>
                    </td>
                    <td>
                    <a href="{{ path('app_nutritional_needs_edit', {'id': nutritional_need.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nutritional_needs_new') }}" class="btn alazea-btn active">Create new</a>
{% endblock %}
