{% extends 'AnimalManagement.html.twig' %}

{% block title %}NutritionalNeeds{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block ration %}{% endblock %}
{% block gestation %}{% endblock %}

{% block body %}
    <h1>NutritionalNeeds</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>SpeciesNeeds</th>
                <td>{{ nutritional_need.speciesNeeds }}</td>
            </tr>
            <tr>
                <th>ProductionStatusNeeds</th>
                <td>{{ nutritional_need.productionStatusNeeds }}</td>
            </tr>
            <tr>
                <th>SexNeeds</th>
                <td>{{ nutritional_need.sexNeeds }}</td>
            </tr>
            <tr>
                <th>MinimumWeightNeeds</th>
                <td>{{ nutritional_need.minimumWeightNeeds }}</td>
            </tr>
            <tr>
                <th>MaximumWeightNeeds</th>
                <td>{{ nutritional_need.maximumWeightNeeds }}</td>
            </tr>
            <tr>
                <th>ProductionGoalNeeds</th>
                <td>{{ nutritional_need.productionGoalNeeds }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nutritional_needs_index') }}" class="btn alazea-btn active">back to list</a>

    <a href="{{ path('app_nutritional_needs_edit', {'id': nutritional_need.id}) }}" class="btn alazea-btn active">edit</a>

    {{ include('nutritional_needs/_delete_form.html.twig') }}
{% endblock %}
