{% extends 'baseAdmin.html.twig' %}

{% block title %}StockDivers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h1 {
            font-size:3em; 
            margin-top:20px;
            font-weight: 300;
            line-height:1em;
            text-align: center;
            color: #2E5D42;
          }

        table {
            width: 80%; /* Adjust the width as needed */
            margin: 50px auto;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
            font-size: 14px;
        }

        th {
            background-color: #377120;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #000;

        }
        .container td:first-child { color: #000; }


        tr:nth-child(even) {
            background-color: #F4F7F0;
        }

        a {
            color: #2E5D42;
            text-decoration: none;
            margin-right: 10px;
            transition: color 0.3s ease-in-out;
        }

        a:hover {
            color: #22C738;
            text-decoration: underline;
        }

        .no-records {
            color: #757575;
            font-style: italic;
        }

        .button {
            text-align: center;
            margin-top: 20px;

        }

        .create-new {
            display: inline-block;
            padding: 12px 20px;
            background-color: #2E5D42;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s ease-in-out;
        }
      
        .create-new:hover {
            background-color: #D8FFDB;
            text-decoration: none;
            color: #000;
        }
        /* Styles pour le paginator */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination .pagination-item {
    margin: 0 5px;
}

.pagination .pagination-link {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination .pagination-link:hover {
    background-color: #ddd;
}

.pagination .pagination-item.active .pagination-link {
    background-color: #2E5D42;
    color: #fff;
}

/* Styles pour les flèches "Précédent" et "Suivant" */
.pagination .pagination-prev,
.pagination .pagination-next {
    margin: 0 5px;
}

.pagination .pagination-prev,
.pagination .pagination-next,
.pagination .pagination-link {
    cursor: pointer;
}

/* Style pour la flèche "Précédent" */
.pagination .pagination-prev {
    font-weight: bold;
}

/* Style pour la flèche "Suivant" */
.pagination .pagination-next {
    font-weight: bold;
}

    </style>
{% endblock %}

{% block body %}
    <h1>StockDivers</h1>

    <table class="container">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomSD</th>
                <th>QuantiteSD</th>
                <th>Health</th>
                <th>DateEntreeStock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock_diver in stock_divers %}
            <tr>
                <td>{{ stock_diver.id }}</td>
                <td>{{ stock_diver.nomSD }}</td>
                <td>{{ stock_diver.quantiteSD }}</td>
                <td>{{ stock_diver.health }}</td>
                <td>{{ stock_diver.dateEntreeStock ? stock_diver.dateEntreeStock|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_stock_divers_show', {'id': stock_diver.id}) }}">Détails</a>
                    <a href="{{ path('app_stock_divers_edit', {'id': stock_diver.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun Stock divers stocké</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br>
    <div class="pagination">
        {{ knp_pagination_render(stock_divers) }}
    </div>
    <br>

    <a href="{{ path('app_stock_divers_new') }}">Ajouter</a> <br>
    <a href="{{ path('app_stock_divers.pdf') }}">Exporter PDF</a> <br>
    <a href="{{ path('app_stock_divers_evolution') }}"> Voir statistiques</a><br>

{% endblock %}
