{% extends 'base.html.twig' %}

{% block title %}StockDivers détails{% endblock %}

{% block body %}
    <h1>StockDivers détails</h1>

    <table class="table" border=1>
        <tbody>
             <tr>
                <th>Image</th>
                <td><img src="{{ asset(stock_diver.image) }} width="300" height="300""></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ stock_diver.id }}</td>
            </tr>
            <tr>
                <th>NomSD</th>
                <td>{{ stock_diver.nomSD }}</td>
            </tr>
            <tr>
                <th>QuantiteSD</th>
                <td>{{ stock_diver.quantiteSD }}</td>
            </tr>
            <tr>
                <th>Health</th>
                <td>{{ stock_diver.health }}</td>
            </tr>
            <tr>
                <th>DateEntreeStock</th>
                <td>{{ stock_diver.dateEntreeStock ? stock_diver.dateEntreeStock|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stock_divers_index') }}">Retour</a>

    <a href="{{ path('app_stock_divers_edit', {'id': stock_diver.id}) }}">Modifier</a>

    {{ include('stock_divers/_delete_form.html.twig') }}

        <a href="{{ path('app_stock_divers_index') }}">Retour</a>

{% endblock %}
