{# animal/_form.html.twig #}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.espece) }}
            {{ form_widget(form.espece, {'attr': {'class': 'form-control', 'placeholder': 'Espèce de l\'animal'}}) }}
            {{ form_errors(form.espece) }}
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.preparationVelage) }}
            {{ form_widget(form.preparationVelage, {'attr': {'class': 'form-control', 'placeholder': 'Préparation pour le vêlage'}}) }}
            {{ form_errors(form.preparationVelage) }}
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.velagePrevu) }}
            {{ form_widget(form.velagePrevu, {'attr': {'class': 'form-control', 'placeholder': 'Vêlage prévu'}}) }}
            {{ form_errors(form.velagePrevu) }}
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.dateAvertissement) }}
            {{ form_widget(form.dateAvertissement, {'attr': {'class': 'form-control', 'placeholder': 'Date d\'avertissement'}}) }}
            {{ form_errors(form.dateAvertissement) }}
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_label(form.animal) }}
            {{ form_widget(form.animal, {'attr': {'class': 'form-control', 'placeholder': 'Animal concerné'}}) }}
            {{ form_errors(form.animal) }}
        </div>
    </div>

    <!-- Add more form fields as needed -->

    <div class="col-12">
        <button class="btn alazea-btn mt-15">{{ button_label|default('Submit') }}</button>
    </div>
</div>

{{ form_end(form) }}
