{% extends 'AnimalManagement.html.twig' %}

{% block title %}Gestation index{% endblock %}
{% block section %}{% endblock %}
{% block animal %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block body %}
    <h1>Gestation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Espece</th>
                <th>Preparation Vêlage</th>
                <th>Vêlage Prévu</th>
                <th>Date Avertissement</th>
                <th>show</th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
        {% for gestation in gestations %}
            <tr>
                <td>{{ gestation.espece }}</td>
                <td>{{ gestation.preparationVelage ? gestation.preparationVelage|date('Y-m-d') : '' }}</td>
                <td>{{ gestation.velagePrevu ? gestation.velagePrevu|date('Y-m-d') : '' }}</td>
                <td>{{ gestation.dateAvertissement ? gestation.dateAvertissement|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_gestation_show', {'id': gestation.id}) }}">show</a>
                     </td>
                      <td>
                    <a href="{{ path('app_gestation_edit', {'id': gestation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gestation_new') }}" class="btn alazea-btn active">Create new</a>
{% endblock %}
