{% extends 'AnimalManagement.html.twig' %}

{% block title %}Gestation{% endblock %}
{% block section %}{% endblock %}
{% block animal %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block body %}
    <h1>Gestation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gestation.id }}</td>
            </tr>
            <tr>
                <th>Espece</th>
                <td>{{ gestation.espece }}</td>
            </tr>
            <tr>
                <th>PreparationVelage</th>
                <td>{{ gestation.preparationVelage ? gestation.preparationVelage|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>VelagePrevu</th>
                <td>{{ gestation.velagePrevu ? gestation.velagePrevu|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateAvertissement</th>
                <td>{{ gestation.dateAvertissement ? gestation.dateAvertissement|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gestation_index') }}">back to list</a>

    <a href="{{ path('app_gestation_edit', {'id': gestation.id}) }}">edit</a>

    {{ include('gestation/_delete_form.html.twig') }}
{% endblock %}
