{% extends 'base.html.twig' %}

{% block title %}Field index{% endblock %}

{% block body %}
    <h1>Field index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Field_id</th>
                <th>Field_Nom</th>
                <th>Field_chef</th>
                <th>Field_type</th>
                <th>Field_Superficie</th>
                <th>Field_quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for field in fields %}
            <tr>
                <td>{{ field.fieldId }}</td>
                <td>{{ field.fieldNom }}</td>
                <td>{{ field.fieldChef }}</td>
                <td>{{ field.fieldType }}</td>
                <td>{{ field.fieldSuperficie }}</td>
                <td>{{ field.fieldQuantity }}</td>
                <td>
                    <a href="{{ path('app_field_show', {'field_id': field.field_id}) }}">show</a>
                    <a href="{{ path('app_field_edit', {'field_id': field.field_id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_field_new') }}">Create new</a>
{% endblock %}
