{% extends 'baseAdmin.html.twig' %}

{% block title %}Field Details{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h1 {
            color: #377120;
            text-align: center;
            font-size: 3em;
            margin-top: 10px;
            font-weight: 300;
            line-height: 1em;
        }

        table {
            margin: 50px auto;
            border-collapse: collapse;
            margin-bottom: 20px;
            max-width: 1200px;
            padding: 40px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

        }
        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
            font-size: 14px;
        }

        th {
            background-color: #377120;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #000;
        }

        tr:nth-child(even) {
            background-color: #F2F0D5;
        }


        .action-buttons {
                display: flex;
                justify-content: center;
                align-items: center;
            }

        .btn {
            display: inline-block;
            padding: 12px 20px;
            background-color: #377120;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s ease-in-out;
        }

        .btn:hover {
            background-color: #285e15;
            text-decoration: none;
            color: #fff;
            padding : 20px 30px;
        }

        a {
            color: #377120;
            text-decoration: none;
            margin-right: 10px;
            transition: color 0.3s ease-in-out;
        }

        a:hover {
            text-decoration: underline;
            color: #285e15;
        }
        .btn-group {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -10px;
        }
    
        .btnn {
            display: inline-block;
            background-color:#D90D1E;
            color: #fff;
            border: none;
            padding: 13px 100px;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }
    
        .btnn:hover {
            background-color: #F20F38; /* Darker shade on hover */
        }
    </style>
{% endblock %}


{% block body %}
    <h1>Field Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Field ID</th>
                <td>{{ field.fieldId }}</td>
            </tr>
            <tr>
                <th>Field Name</th>
                <td>{{ field.fieldNom }}</td>
            </tr>
            <tr>
                <th>Field Chef</th>
                <td>{{ field.fieldChef }}</td>
            </tr>
            <tr>
                <th>Field Type</th>
                <td>{{ field.fieldType }}</td>
            </tr>
            <tr>
                <th>Field Superficie</th>
                <td>{{ field.fieldSuperficie }}</td>
            </tr>
            <tr>
                <th>Field Quantity</th>
                <td>{{ field.fieldQuantity }}</td>
            </tr>
        </tbody>
    </table>

    <div class="action-buttons">
        <a href="{{ path('app_field_index') }}" class="btn">Back to List</a>
        <a href="{{ path('app_field_edit', {'field_id': field.fieldId}) }}" class="btn">Edit Field</a>
        {{ include('field/_delete_form.html.twig') }}
    </div>
{% endblock %}
