{% extends 'base.html.twig' %}

{% block title %}Field{% endblock %}

{% block body %}
    <h1>Field</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Field_id</th>
                <td>{{ field.fieldId }}</td>
            </tr>
            <tr>
                <th>Field_Nom</th>
                <td>{{ field.fieldNom }}</td>
            </tr>
            <tr>
                <th>Field_chef</th>
                <td>{{ field.fieldChef }}</td>
            </tr>
            <tr>
                <th>Field_type</th>
                <td>{{ field.fieldType }}</td>
            </tr>
            <tr>
                <th>Field_Superficie</th>
                <td>{{ field.fieldSuperficie }}</td>
            </tr>
            <tr>
                <th>Field_quantity</th>
                <td>{{ field.fieldQuantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_field_index') }}">back to list</a>

    <a href="{{ path('app_field_edit', {'field_id': field.field_id}) }}">edit</a>

    {{ include('field/_delete_form.html.twig') }}
{% endblock %}
