{% extends 'AnimalManagement.html.twig' %}

{% block title %}Newborns{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block gestation %}{% endblock %}

{% block body %}
    <h1>Newborns</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Sexe</th>
                <td>{{ newborn.sexe }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ newborn.dateNaissance ? newborn.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Espece</th>
                <td>{{ newborn.espece }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ newborn.poids }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_newborns_index') }}" class="btn alazea-btn active">back to list</a>

    <a href="{{ path('app_newborns_edit', {'id': newborn.id}) }}" class="btn alazea-btn active">edit</a>

    {{ include('newborns/_delete_form.html.twig') }}
{% endblock %}
