<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Agrify!{% endblock %}</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="{{asset('Back/CSS/Menu.css')}}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<nav class="menu">


   <div class="classynav">
                        <ul>
                            <li><a href="{{path('app_AdminDashboard_index')}}">Home</a></li>
                            <li><a href="{{path('app_user_index')}}">User</a></li>
                            <li><a href="{{path('app_field_index')}}">Field</a></li>
                            <li><a href="{{path('app_presence_index')}}">Presence</a></li>
                            <li><a href="#">Material</a></li>
                            <li><a href="{{ path('app_animal_stock_index') }}">Stock animal</a></li>
                            <li><a href="{{ path('app_plante_stock_index') }}">Stock plante</a></li>
                            <li><a href="{{ path('app_stock_divers_index') }}">Stock divers</a></li>
                            <li><a href="{{ path('app_vente_index') }}">Vente</a></li>
                            <li><a href="#">Taches</a></li>
                            <li><a href="{{path('app_reclamation_index')}}">Reclamation</a></li>
                            <li><a href="{{path('app_logout')}}">Logout</a></li>
                        </ul>
 </div> 
</nav>


{% block body %}

{% endblock %}

</body>

</html>

