<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Agrify!{% endblock %}</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link rel="preconnect" href="{{asset('https://fonts.googleapis.com')}}">
        <link rel="preconnect" href="{{asset('https://fonts.gstatic.com')}}" crossorigin>
        <link href="{{asset('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap')}}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="{{asset('Back/CSS/Menu.css')}}" rel="stylesheet">
    {% endblock %}
</head>
<body>

<nav class="menu">
    <div class="classynav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Animal</a></li>
            <li><a href="#">Traitement</a></li>
            <li><a href="#">Taches</a></li>
            <li><a href="#">Reclamation</a></li>
            <li><a href="{{path('app_logout')}}">Logout</a></li>
        </ul>
    </div>
</nav>

{% block body %}

{% endblock %}

</body>
</html>
