{% extends 'base.html.twig' %}

{% block title %}AnimalBatch index{% endblock %}

{% block body %}
    <h1>AnimalBatch index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EspeceAnimalBatch</th>
                <th>SexeRation</th>
                <th>PoidsmaxRation</th>
                <th>PoidsminRation</th>
                <th>AgeAnimalBatch</th>
                <th>NombreAnimalBatch</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for AnimalBatch in AnimalBatchs %}
            <tr>
                <td>{{ AnimalBatch.id }}</td>
                <td>{{ AnimalBatch.especeAnimalBatch }}</td>
                <td>{{ AnimalBatch.sexeRation }}</td>
                <td>{{ AnimalBatch.poidsmaxRation }}</td>
                <td>{{ AnimalBatch.poidsminRation }}</td>
                <td>{{ AnimalBatch.ageAnimalBatch }}</td>
                <td>{{ AnimalBatch.nombreAnimalBatch }}</td>
                <td>
                    <a href="{{ path('app_AnimalBatch_show', {'id': AnimalBatch.id}) }}">show</a>
                    <a href="{{ path('app_AnimalBatch_edit', {'id': AnimalBatch.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_AnimalBatch_new') }}">Create new</a>
{% endblock %}
