{% extends 'baseAdmin.html.twig' %}

{% block title %}User Management{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h1 {
            font-size:3em; 
            margin-top:20px;
            font-weight: 300;
            line-height:1em;
            text-align: center;
            color: #2E5D42;
          }

        table {
            width: 80%; /* Adjust the width as needed */
            margin: 50px auto;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
            font-size: 14px;
        }

        th {
            background-color: #377120;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #000;

        }
        .container td:first-child { color: #000; }


        tr:nth-child(even) {
            background-color: #F4F7F0;
        }

        a {
            color: #2E5D42;
            text-decoration: none;
            margin-right: 10px;
            transition: color 0.3s ease-in-out;
        }

        a:hover {
            color: #22C738;
            text-decoration: underline;
        }

        .no-records {
            color: #757575;
            font-style: italic;
        }

        .button {
            text-align: center;
            margin-top: 20px;

        }

        .create-new {
            display: inline-block;
            padding: 12px 20px;
            background-color: #2E5D42;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s ease-in-out;
        }
      
        .create-new:hover {
            background-color: #D8FFDB;
            text-decoration: none;
            color: #000;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>User Home</h1>

    <table class="container">
        <thead>
              <tr>
                    <th>ID</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Genre</th>
                    <th>Absences</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Show</th>
                    <th>Edit</th>
              </tr>
        </thead>
        <tbody>
              {% for user in users %}

              <tr>
                    <td>{{ user.userId }}</td>
                    <td>{{ user.userNom }}</td>
                    <td>{{ user.userPrenom }}</td>
                    <td>{{ user.userEmail }}</td>
                    <td>{{ user.userTelephone }}</td>
                    <td>{{ user.userRole }}</td>
                    <td>{{ user.userGenre }}</td>
                    <td>{{ user.userNbrabscence }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                        <a href="{{ path('app_user_show', {'user_id': user.userId}) }}" style="color:#2E5D42;">Show</a>
                    </td>
                    <td>
                     <a href="{{ path('app_user_edit', {'user_id': user.userId}) }}" style="color:#2E5D42;">Edit</a> 
                  </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10" class="no-records">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
  </table>

    <div class="button">
        <a href="{{ path('app_user_new') }}" class="create-new">Create New User</a>
    </div>
{% endblock %}
