{% extends 'base.html.twig' %}

{% block title %}User Index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h1 {
            color: #377120;
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px ;
            margin-right:200px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #EFE6CD;
        }

        tr:nth-child(even) {
            background-color: #EBFAD7;
        }

        a {
            color: #377120;
            text-decoration: none;
            margin-right: 10px;
        }

        a:hover {
            text-decoration: underline;
        }

        .no-records {
            color: #757575;
            font-style: italic;
        }

        .create-new {
            display: inline-block;
            padding: 10px 20px;
            background-color: #377120;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            margin-top: 20px; 
        }

       

    </style>
{% endblock %}

{% block body %}
    <h1>User Home</h1>

    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Genre</th>
                <th>Absences</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.userId }}</td>
                <td>{{ user.userNom }} {{ user.userPrenom }}</td>
                <td>{{ user.userEmail }}</td>
                <td>{{ user.userTelephone }}</td>
                <td>{{ user.userRole }}</td>
                <td>{{ user.userGenre }}</td>
                <td>{{ user.userNbrabscence }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'user_id': user.userId}) }}">Show</a>
                    <a href="{{ path('app_user_edit', {'user_id': user.userId}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10" class="no-records">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}" class="create-new">Create New User</a>
{% endblock %}
