{% extends 'baseAdmin.html.twig' %}

{% block title %}User Management{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
 


h1 {
  font-size:3em; 
  margin-top:20px;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #2E5D42;
}
a {
      color: #DAFDBA;
      text-decoration: none;
      margin-right: 10px;
      transition: color 0.3s ease-in-out;
  }

  a:hover {
      color:#000;
      text-decoration: none;
  }

.blue { color: #F2F2F2; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: center;
  color: #fff;
}

.container td {
	  font-weight: normal;

	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
margin-top:20px;
	  text-align: center;
	  width: 90%;
  display: table;
}

.container td, .container th {
	  padding-bottom: 1%;
	  padding-top: 1%;
}

.container tr:nth-child(odd) {
	  background-color: #D8FFDB;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #FBF2FF;
        color:#2B8C44;
}

.container th {
	  background-color: #000;
        text-align: center;
        color:#2B8C44;


}

.container td:first-child { color: #242424; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #A1FF7B;
	   -moz-box-shadow: 0 6px 6px -6px #A1FF7B;
	        box-shadow: 0 6px 6px -6px #A1FF7B;
}

.container td:hover {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  
  box-shadow: #A1FF7B -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}


.button {
      text-align: center;
      margin-top: 20px;

  }

  .create-new {
      display: inline-block;
      padding: 12px 20px;
      background-color: #2E5D42;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      transition: background-color 0.3s ease-in-out;
  }

  .create-new:hover {
      background-color: #D8FFDB;
      text-decoration: none;
      color: #000;
  }
    </style>
{% endblock %}

{% block body %}

<h1>User Mangement</h1>

      
      <table class="container">
            <thead>
                  <tr>
                        <th>ID</th>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>Genre</th>
                        <th>Absences</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Actions</th>
                        <th>Actions</th>
                  </tr>
            </thead>
            <tbody>
                  {% for user in users %}

                  <tr>
                        <td>{{ user.userId }}</td>
                        <td>{{ user.userNom }}</td>
                        <td>{{ user.userPrenom }}</td>
                        <td>{{ user.userEmail }}</td>
                        <td>{{ user.userTelephone }}</td>
                        <td>{{ user.userRole }}</td>
                        <td>{{ user.userGenre }}</td>
                        <td>{{ user.userNbrabscence }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.password }}</td>
                        <td>
                            <a href="{{ path('app_user_show', {'user_id': user.userId}) }}" style="color:#000;">Show</a>
                        </td>
                        <td>
                         <a href="{{ path('app_user_edit', {'user_id': user.userId}) }}" style="color:#000;">Edit</a> 
                      </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10" class="no-records">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
      </table>
      <div class="button">
            <a href="{{ path('app_user_new') }}" class="create-new">Create New User</a>
        </div>
      
      {% endblock %}
