{% extends 'baseAdmin.html.twig' %}

{% block title %}User Management{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body 
  
        h1 {
            font-size:3em; 
            margin-top:20px;
            font-weight: 300;
            line-height:1em;
            text-align: center;
            color: #2E5D42;
          }

        table {
            width: 80%;
            margin: 50px auto;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
            font-size: 14px;
        }

        th {
            background-color: #8C8C8C;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #fff;

        }
        .container td:first-child { color: #000; }


        tr:nth-child(even) {
            background-color: #F4F7F0;
        }

        a {
            color: #2E5D42;
            text-decoration: none;
            margin-right: 10px;
            transition: color 0.3s ease-in-out;
        }
        a:hover {
            color: #22C738;
            text-decoration: underline;
        }

        .no-records {
            color: #757575;
            font-style: italic;
        }

        .button {
            text-align: center;
            margin-top: 20px;

        }

        .create-new {
            display: inline-block;
            padding: 12px 20px;
            background-color: #2E5D42;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s ease-in-out;
        }
      
        .create-new:hover {
            background-color: #D8FFDB;
            text-decoration: none;
            color: #000;
        }
        
        .search-container {
            display: flex;
            margin-left:165px;
            align-items: center;
        }

        .search-input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        .search-button {
            padding: 8px 16px;
            background-color: #2E5D42;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .search-button:hover {
            background-color: #D8FFDB;
            color: #000;
        }
    </style>
{% endblock %}
{% block body %}

    <h1>User Home</h1>

    <div class="button">
        <a href="{{ path('app_user_new') }}" class="create-new">Create New User</a>
        <div class="search-container">
               <form method="get">
                         <input type="text" name="search" placeholder="rechercher" class="search-input">
                         <button type="submit" class="search-button" >chercher</button>
                         <a href="{{ path('app_user_index', {'search': app.request.query.get('search'), 'sort': 'asc'}) }}> <button type="submit" class="search-button" >Sort</button>

                </form>


                </a>
        </div>
    </div>

    <table class="container">
        <thead>
            <tr>
                <th>#</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Genre</th>
                <th>Absences</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if users is not empty %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.userId }}</td>
                        <td>{{ user.userPrenom }}</td>
                        <td>{{ user.userNom }}</td>
                        <td>{{ user.userEmail }}</td>
                        <td>{{ user.userTelephone }}</td>
                        <td>{{ user.userRole }}</td>
                        <td>{{ user.userGenre }}</td>
                        <td>{{ user.userNbrabscence }}</td>
                        <td>{{ user.username }}</td>
                        <!-- Add more fields based on your entity -->
                        <td>
                            <a href="{{ path('app_user_show', {'user_id': user.userId}) }}" style="color:#2E5D42;"><i class="fa-regular fa-eye"></i></a>
                            <a href="{{ path('app_user_edit', {'user_id': user.userId}) }}" style="color:#2E5D42;"><i class="fa-solid fa-user-pen"></i></i></a>
                            <a href="{{ path('app_user_print', {'user_id': user.userId}) }}" style="color:#2E5D42;"><i class="fa-solid fa-print"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

{% endblock %}
